.axisXContainer {
  transform: translateX(210px); /* Alinea con la cuadrícula */
  margin-bottom: 10px;
  width: calc(100% - 210px); /* Ajusta el ancho para evitar desbordamientos */
}

.groupRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.groupCell {
  text-align: center;
  font-size: 1.2em;
  background-color: #1e1e1e;
}

.placeRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 30px; /* Alineación exacta con la cuadrícula de eventos */
}

.placeCell {
  text-align: center;
  font-size: 1em;
  background-color: #2e2e2e;
  color: #fff;
  padding: 5px 0;
  border: 1px solid #333;
}
